{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Profil de {{ employe.nom }} {{ employe.prenom }}</h1>
  <div class="row">
    <div class="col-md-4">
      <h2>Informations personnelles</h2>
      <table class="table">
        <tr>
          <th>Nom :</th>
          <td>{{ employe.nom }}</td>
        </tr>
        <tr>
          <th>Prénom :</th>
          <td>{{ employe.prenom }}</td>
        </tr>
        <tr>
          <th>Date de naissance :</th>
          <td>{{ employe.date_naissance.strftime('%d/%m/%Y') }}</td>
        </tr>
        <tr>
          <th>Adresse :</th>
          <td>{{ employe.adresse }}</td>
        </tr>
        <tr>
          <th>Email :</th>
          <td>{{ employe.email }}</td>
        </tr>
        <tr>
          <th>Téléphone :</th>
          <td>{{ employe.telephone }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-8">
      <h2>Emploi</h2>
      <table class="table">
        <tr>
          <th>Poste :</th>
          <td>{{ employe.poste }}</td>
        </tr>
        <tr>
          <th>Service :</th>
          <td>{{ employe.service }}</td>
        </tr>
        <tr>
          <th>Salaire :</th>
          <td>{{ employe.salaire }} €</td>
        </tr>
        <tr>
          <th>Date d'embauche :</th>
          <td>{{ employe.date_embauche.strftime('%d/%m/%Y') }}</td>
        </tr>
        <tr>
          <th>Nombre d'années d'ancienneté :</th>
          <td>{{ employe.nombre_annees_anciennete }}</td>
        </tr>
        <tr>
          <th>Manager :</th>
          <td>
            {% if employe.manager %}
              <a href="{{ url_for('profilEmploye', id=employe.manager.id) }}">{{ employe.manager.nom }} {{ employe.manager.prenom }}</a>
            {% else %}
              Aucun
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
