<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Concessionnaire NouvelleAuto </title>
    <!-- Chargement des fichiers CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Chargement des fichiers JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="application.js"></script>
    <script src="../static/application.js"></script>



</head>

<body>



<nav class="nav-area">
       <ul>
           <li><a href="/">Acceuil</a></li>
           <li><a href="/login">Login</a></li>
           <li><a href="/sign-up">Sign up</a></li>

           <li><a href="#">Fournisseurs</a>
                <ul>
                    <li><a href="/add-fournisseur-auto">Automobiles</a>
                        <ul>
                            <li><a href="/add-fournisseur-auto">Ajouter</a>
                            <li><a href="/search-fournisseur-auto">Trouver</a>
                        </ul>
                    </li>
                    <li><a href="#">Pièces</a>
                        <ul>
                            <li><a href="/add-fournisseur-pieces">Ajouter</a>
                            <li><a href="/search-fournisseur-pieces">Trouver</a>
                        </ul>
                    </li>
                </ul>
           </li>
           <li><a href="/search">Rechercher</a>
                <ul>
                    <li><a href="/search-employe">Employes</a></li>
                    <li><a href="/search">Pièces</a></li>
                    <li><a href="/search-auto">Automobile</a></li>
                </ul>
           </li>
       </ul>
   </nav>

 <h1> Concessionnaire NouvelleAuto</h1>

<!--<main >-->

        <!-- Contenu principal -->


<!--      <div class="container">-->
<!--         <div class="row">-->
<!--            <div class="col-md-6">-->
<!--               <img src="../static/images/img1.jpg" alt="Voiture à vendre" class="img-fluid">-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--               <h2>Nom du modèle de voiture</h2>-->
<!--               <h3>Prix : 20 000 €</h3>-->
<!--               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget sapien at turpis bibendum interdum. Nam elementum tempus tortor, quis bibendum odio. Sed facilisis purus vel est vestibulum bibendum. Praesent a ex vel lectus lobortis posuere. Duis euismod purus eget dolor feugiat venenatis. Nullam rutrum justo ut risus venenatis pharetra.</p>-->
<!--               <ul>-->
<!--                  <li>Année : 2023</li>-->
<!--                  <li>Kilométrage : 10 000 km</li>-->
<!--                  <li>Couleur : Blanc</li>-->
<!--               </ul>-->
<!--               <button type="button" class="btn btn-primary">Acheter</button>-->
<!--            </div>-->
<!--         </div>-->
<!--      </div>-->
<!--</main>-->

<!--<style>-->
<!--   {-->
<!--   margin : 0;-->
<!--   padding: 0;-->
<!--   }-->

<!--   .background-image {-->
<!--      background-image: url("../static/images/form-auto-img.png");-->
<!--      background-size:contain;-->
<!--           weight: px;-->
<!--      background-repeat : no-repeat ;-->

<!--   }-->
<!--   </style>-->



<footer>
    <!-- Pied de page -->
</footer>

</body>

</html>